<?xml version="1.0" ?><juiceboxgallery cropToFit="false" galleryHeight="100%" galleryTitle="Stavanger Norway" galleryWidth="100%" indexPageName="2012-05-stavanger-norway.html" resizeOnImport="true" useFlickr="false">
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020664.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020664.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/p1020664.jpg">
    <title><![CDATA[P1020664]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020666.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020666.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/p1020666.jpg">
    <title><![CDATA[P1020666]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020670.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020670.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/p1020670.jpg">
    <title><![CDATA[P1020670]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020675.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020675.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/p1020675.jpg">
    <title><![CDATA[P1020675]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020676.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020676.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/p1020676.jpg">
    <title><![CDATA[P1020676]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020685.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020685.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/p1020685.jpg">
    <title><![CDATA[P1020685]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020693.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020693.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/p1020693.jpg">
    <title><![CDATA[P1020693]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020694.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020694.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/p1020694.jpg">
    <title><![CDATA[P1020694]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7701.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7701.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/img_7701.jpg">
    <title><![CDATA[img_7701]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7703.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7703.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/img_7703.jpg">
    <title><![CDATA[img_7703]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7715.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7715.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/img_7715.jpg">
    <title><![CDATA[img_7715]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7718.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7718.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/img_7718.jpg">
    <title><![CDATA[img_7718]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7721.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7721.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/img_7721.jpg">
    <title><![CDATA[img_7721]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7731.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7731.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/img_7731.jpg">
    <title><![CDATA[img_7731]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7741.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7741.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/img_7741.jpg">
    <title><![CDATA[img_7741]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7767.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7767.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/img_7767.jpg">
    <title><![CDATA[img_7767]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7771.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7771.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/img_7771.jpg">
    <title><![CDATA[img_7771]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7776.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7776.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/img_7776.jpg">
    <title><![CDATA[img_7776]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7797.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7797.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/img_7797.jpg">
    <title><![CDATA[img_7797]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7798.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7798.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/img_7798.jpg">
    <title><![CDATA[img_7798]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7804.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7804.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/img_7804.jpg">
    <title><![CDATA[img_7804]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7806.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7806.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/img_7806.jpg">
    <title><![CDATA[img_7806]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7809.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7809.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/img_7809.jpg">
    <title><![CDATA[img_7809]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7814.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7814.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/img_7814.jpg">
    <title><![CDATA[img_7814]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7816.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7816.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/img_7816.jpg">
    <title><![CDATA[img_7816]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7827.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7827.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/img_7827.jpg">
    <title><![CDATA[img_7827]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7835.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/img_7835.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/img_7835.jpg">
    <title><![CDATA[img_7835]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020711.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020711.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/p1020711.jpg">
    <title><![CDATA[P1020711]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020712.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020712.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/p1020712.jpg">
    <title><![CDATA[P1020712]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020717.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020717.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/p1020717.jpg">
    <title><![CDATA[P1020717]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020718.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020718.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/p1020718.jpg">
    <title><![CDATA[P1020718]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020725.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020725.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/p1020725.jpg">
    <title><![CDATA[P1020725]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020728.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020728.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/p1020728.jpg">
    <title><![CDATA[P1020728]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020737.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020737.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/p1020737.jpg">
    <title><![CDATA[P1020737]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020749.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020749.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/p1020749.jpg">
    <title><![CDATA[P1020749]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020755.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020755.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/p1020755.jpg">
    <title><![CDATA[P1020755]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020756.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/images/p1020756.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-05-stavanger-norway/thumbs/p1020756.jpg">
    <title><![CDATA[P1020756]]></title>
    <caption/>
  </image>
</juiceboxgallery>