<?xml version="1.0" ?><juiceboxgallery galleryTitle="Paris, France">
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0023.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0023.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_0023.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/thumbs/img_0023.jpg">
    <title><![CDATA[IMG_0023]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0029.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0029.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_0029.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/thumbs/img_0029.jpg">
    <title><![CDATA[IMG_0029]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0031.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0031.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_0031.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/thumbs/img_0031.jpg">
    <title><![CDATA[IMG_0031]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0037.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0037.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_0037.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/thumbs/img_0037.jpg">
    <title><![CDATA[IMG_0037]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0056.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0056.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_0056.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/thumbs/img_0056.jpg">
    <title><![CDATA[IMG_0056]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0077.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0077.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_0077.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/thumbs/img_0077.jpg">
    <title><![CDATA[IMG_0077]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0091.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0091.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_0091.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/thumbs/img_0091.jpg">
    <title><![CDATA[IMG_0091]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0093.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0093.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_0093.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/thumbs/img_0093.jpg">
    <title><![CDATA[IMG_0093]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0096.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0096.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_0096.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/thumbs/img_0096.jpg">
    <title><![CDATA[IMG_0096]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0098.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0098.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_0098.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/thumbs/img_0098.jpg">
    <title><![CDATA[IMG_0098]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0100.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0100.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_0100.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/thumbs/img_0100.jpg">
    <title><![CDATA[IMG_0100]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0106.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0106.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_0106.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/thumbs/img_0106.jpg">
    <title><![CDATA[IMG_0106]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0125.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0125.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_0125.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/thumbs/img_0125.jpg">
    <title><![CDATA[IMG_0125]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0127.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0127.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_0127.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/thumbs/img_0127.jpg">
    <title><![CDATA[IMG_0127]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0188.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0188.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_0188.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/thumbs/img_0188.jpg">
    <title><![CDATA[IMG_0188]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0205.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0205.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_0205.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/thumbs/img_0205.jpg">
    <title><![CDATA[IMG_0205]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0207.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0207.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_0207.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/thumbs/img_0207.jpg">
    <title><![CDATA[IMG_0207]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0210.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0210.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_0210.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/thumbs/img_0210.jpg">
    <title><![CDATA[IMG_0210]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0212.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_0212.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_0212.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/thumbs/img_0212.jpg">
    <title><![CDATA[IMG_0212]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_9922.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_9922.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_9922.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/thumbs/img_9922.jpg">
    <title><![CDATA[IMG_9922]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_9981.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_9981.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_9981.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/thumbs/img_9981.jpg">
    <title><![CDATA[IMG_9981]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_9984.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/images/img_9984.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_9984.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-paris-france/thumbs/img_9984.jpg">
    <title><![CDATA[IMG_9984]]></title>
    <caption/>
  </image>
</juiceboxgallery>