<?xml version="1.0" ?><juiceboxgallery galleryTitle="Wedding, Shanghai">
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_7852.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_7852.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_7852.JPG" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/thumbs/img_7852.jpg">
    <title><![CDATA[IMG_7852]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_7854.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_7854.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_7854.JPG" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/thumbs/img_7854.jpg">
    <title><![CDATA[IMG_7854]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_7860.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_7860.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_7860.JPG" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/thumbs/img_7860.jpg">
    <title><![CDATA[IMG_7860]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_7866.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_7866.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_7866.JPG" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/thumbs/img_7866.jpg">
    <title><![CDATA[IMG_7866]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_7869.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_7869.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_7869.JPG" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/thumbs/img_7869.jpg">
    <title><![CDATA[IMG_7869]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_7873.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_7873.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_7873.JPG" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/thumbs/img_7873.jpg">
    <title><![CDATA[IMG_7873]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_7882.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_7882.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_7882.JPG" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/thumbs/img_7882.jpg">
    <title><![CDATA[IMG_7882]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_7884.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_7884.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_7884.JPG" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/thumbs/img_7884.jpg">
    <title><![CDATA[IMG_7884]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_7887.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_7887.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_7887.JPG" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/thumbs/img_7887.jpg">
    <title><![CDATA[IMG_7887]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_7909.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_7909.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_7909.JPG" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/thumbs/img_7909.jpg">
    <title><![CDATA[IMG_7909]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_7915.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_7915.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_7915.JPG" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/thumbs/img_7915.jpg">
    <title><![CDATA[IMG_7915]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_7924.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_7924.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_7924.JPG" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/thumbs/img_7924.jpg">
    <title><![CDATA[IMG_7924]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_7936.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_7936.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_7936.JPG" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/thumbs/img_7936.jpg">
    <title><![CDATA[IMG_7936]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_7952.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_7952.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_7952.JPG" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/thumbs/img_7952.jpg">
    <title><![CDATA[IMG_7952]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_8000.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_8000.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8000.JPG" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/thumbs/img_8000.jpg">
    <title><![CDATA[IMG_8000]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_8012 copy.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_8012 copy.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8012 copy.JPG" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/thumbs/img_8012 copy.jpg">
    <title><![CDATA[IMG_8012 copy]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_8025.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_8025.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8025.JPG" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/thumbs/img_8025.jpg">
    <title><![CDATA[IMG_8025]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_8033.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_8033.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8033.JPG" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/thumbs/img_8033.jpg">
    <title><![CDATA[IMG_8033]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_8038.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_8038.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8038.JPG" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/thumbs/img_8038.jpg">
    <title><![CDATA[IMG_8038]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_8050.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_8050.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8050.JPG" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/thumbs/img_8050.jpg">
    <title><![CDATA[IMG_8050]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_8105.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_8105.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8105.JPG" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/thumbs/img_8105.jpg">
    <title><![CDATA[IMG_8105]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_8111.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_8111.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8111.JPG" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/thumbs/img_8111.jpg">
    <title><![CDATA[IMG_8111]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_8141.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_8141.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8141.JPG" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/thumbs/img_8141.jpg">
    <title><![CDATA[IMG_8141]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_8146.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_8146.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8146.JPG" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/thumbs/img_8146.jpg">
    <title><![CDATA[IMG_8146]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_8151.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/images/img_8151.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8151.JPG" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-05-wedding-shanghai/thumbs/img_8151.jpg">
    <title><![CDATA[IMG_8151]]></title>
    <caption/>
  </image>
</juiceboxgallery>