<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	useFlickr="false"
	resizeOnImport="true"
	cropToFit="false"
	galleryTitle="Stavanger Norway"
	galleryWidth="100%"
	galleryHeight="100%"
	indexPageName="2012-05-stavanger-norway.html"

>
  <image imageURL="images/P1020664.jpg"
	thumbURL="thumbs/P1020664.jpg"
	linkURL="images/P1020664.jpg"
	linkTarget="_blank">
    <title><![CDATA[P1020664]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1020666.jpg"
	thumbURL="thumbs/P1020666.jpg"
	linkURL="images/P1020666.jpg"
	linkTarget="_blank">
    <title><![CDATA[P1020666]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1020670.jpg"
	thumbURL="thumbs/P1020670.jpg"
	linkURL="images/P1020670.jpg"
	linkTarget="_blank">
    <title><![CDATA[P1020670]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1020675.jpg"
	thumbURL="thumbs/P1020675.jpg"
	linkURL="images/P1020675.jpg"
	linkTarget="_blank">
    <title><![CDATA[P1020675]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1020676.jpg"
	thumbURL="thumbs/P1020676.jpg"
	linkURL="images/P1020676.jpg"
	linkTarget="_blank">
    <title><![CDATA[P1020676]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1020685.jpg"
	thumbURL="thumbs/P1020685.jpg"
	linkURL="images/P1020685.jpg"
	linkTarget="_blank">
    <title><![CDATA[P1020685]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1020693.jpg"
	thumbURL="thumbs/P1020693.jpg"
	linkURL="images/P1020693.jpg"
	linkTarget="_blank">
    <title><![CDATA[P1020693]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1020694.jpg"
	thumbURL="thumbs/P1020694.jpg"
	linkURL="images/P1020694.jpg"
	linkTarget="_blank">
    <title><![CDATA[P1020694]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7701.jpg"
	thumbURL="thumbs/IMG_7701.jpg"
	linkURL="images/IMG_7701.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7701]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7703.jpg"
	thumbURL="thumbs/IMG_7703.jpg"
	linkURL="images/IMG_7703.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7703]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7715.jpg"
	thumbURL="thumbs/IMG_7715.jpg"
	linkURL="images/IMG_7715.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7715]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7718.jpg"
	thumbURL="thumbs/IMG_7718.jpg"
	linkURL="images/IMG_7718.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7718]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7721.jpg"
	thumbURL="thumbs/IMG_7721.jpg"
	linkURL="images/IMG_7721.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7721]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7731.jpg"
	thumbURL="thumbs/IMG_7731.jpg"
	linkURL="images/IMG_7731.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7731]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7741.jpg"
	thumbURL="thumbs/IMG_7741.jpg"
	linkURL="images/IMG_7741.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7741]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7767.jpg"
	thumbURL="thumbs/IMG_7767.jpg"
	linkURL="images/IMG_7767.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7767]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7771.jpg"
	thumbURL="thumbs/IMG_7771.jpg"
	linkURL="images/IMG_7771.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7771]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7776.jpg"
	thumbURL="thumbs/IMG_7776.jpg"
	linkURL="images/IMG_7776.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7776]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7797.jpg"
	thumbURL="thumbs/IMG_7797.jpg"
	linkURL="images/IMG_7797.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7797]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7798.jpg"
	thumbURL="thumbs/IMG_7798.jpg"
	linkURL="images/IMG_7798.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7798]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7804.jpg"
	thumbURL="thumbs/IMG_7804.jpg"
	linkURL="images/IMG_7804.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7804]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7806.jpg"
	thumbURL="thumbs/IMG_7806.jpg"
	linkURL="images/IMG_7806.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7806]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7809.jpg"
	thumbURL="thumbs/IMG_7809.jpg"
	linkURL="images/IMG_7809.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7809]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7814.jpg"
	thumbURL="thumbs/IMG_7814.jpg"
	linkURL="images/IMG_7814.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7814]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7816.jpg"
	thumbURL="thumbs/IMG_7816.jpg"
	linkURL="images/IMG_7816.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7816]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7827.jpg"
	thumbURL="thumbs/IMG_7827.jpg"
	linkURL="images/IMG_7827.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7827]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7835.jpg"
	thumbURL="thumbs/IMG_7835.jpg"
	linkURL="images/IMG_7835.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7835]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1020711.jpg"
	thumbURL="thumbs/P1020711.jpg"
	linkURL="images/P1020711.jpg"
	linkTarget="_blank">
    <title><![CDATA[P1020711]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1020712.jpg"
	thumbURL="thumbs/P1020712.jpg"
	linkURL="images/P1020712.jpg"
	linkTarget="_blank">
    <title><![CDATA[P1020712]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1020717.jpg"
	thumbURL="thumbs/P1020717.jpg"
	linkURL="images/P1020717.jpg"
	linkTarget="_blank">
    <title><![CDATA[P1020717]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1020718.jpg"
	thumbURL="thumbs/P1020718.jpg"
	linkURL="images/P1020718.jpg"
	linkTarget="_blank">
    <title><![CDATA[P1020718]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1020725.jpg"
	thumbURL="thumbs/P1020725.jpg"
	linkURL="images/P1020725.jpg"
	linkTarget="_blank">
    <title><![CDATA[P1020725]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1020728.jpg"
	thumbURL="thumbs/P1020728.jpg"
	linkURL="images/P1020728.jpg"
	linkTarget="_blank">
    <title><![CDATA[P1020728]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1020737.jpg"
	thumbURL="thumbs/P1020737.jpg"
	linkURL="images/P1020737.jpg"
	linkTarget="_blank">
    <title><![CDATA[P1020737]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1020749.jpg"
	thumbURL="thumbs/P1020749.jpg"
	linkURL="images/P1020749.jpg"
	linkTarget="_blank">
    <title><![CDATA[P1020749]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1020755.jpg"
	thumbURL="thumbs/P1020755.jpg"
	linkURL="images/P1020755.jpg"
	linkTarget="_blank">
    <title><![CDATA[P1020755]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1020756.jpg"
	thumbURL="thumbs/P1020756.jpg"
	linkURL="images/P1020756.jpg"
	linkTarget="_blank">
    <title><![CDATA[P1020756]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>