/* Imports */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body, p {
	font-family: "Open Sans", sans-serif;
}

p {
    margin: 0 0 13px;
}


a {
	color: #999;
    text-decoration: none;
    border-bottom: 1px dotted;
    outline: 0;
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    transition: color .2s linear;
}

a:hover {
    text-decoration: none;
}


.path {
    font-size: 16px;
    color: #CCC;
    background-color: White;
    padding-top: 60px;
    width: 1170px;
}

.path .pic-link {
    border-bottom: none;
}

.path .pic-next-text {
    padding-right: 10px;
}

#top-fixed {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.container #logo {
	padding-top: 150px;
	padding-bottom: 30px;
	font-size: 39px;
	color: black;
	text-align: center;
}

.container #logo #qing{
	color: #CCC;
}

.container #main {
    font-size: 16px;
	line-height: 23px;
	min-height: 400px;
	padding-top: 80px;
}

.container #home-main {
    font-size: 16px;
	line-height: 23px;
	min-height: 300px;
	padding-top: 80px;
}

.container #category {
	padding-right: 30px;
	text-align: center;
}

.container li {
    display: inline;
    margin: 0 7px;
}

.container #projects li {
	display: list-item;
	margin-left: 3.5%;
	margin-right: 3.5%;
	margin-bottom: 1.75em;
	clear: none;
}

.container #projects .project-description {
	font-size: 14px;
}

.container #social {
	padding-top: 50px;
	padding-right: 30px;
	text-align: center;
}

.container #foot-text {
    padding-top:30px;
	text-align: center;
}

ul#albumns {
	overflow: hidden;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

ul#albumns {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

ul#albumns li:nth-child(3n+1) {
	clear: left;
}

ul#albumns li {
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 1.75em;
	float: left;
	display: inline;
	width: 28.33%;
	clear: none;
}

ul#albumns p.thumb {
	float: none;
	width: auto;
	margin-right: 0;
	margin-top: 0;
	margin-left: 0;
}

ul#albumns li p.thumb img {
	padding: 0.625em;
	background: white;
	border: 1px solid #E5E5E5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	border-radius: 0.25em;
}

.container .post {
    border-bottom: 1px solid #EEE;
    margin-bottom: 10px;
}
