body, p {
	font-family: "Open Sans", sans-serif;
}

a {
	color: #999;
    text-decoration: none;
    border-bottom: 1px dotted;
    outline: 0;
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    transition: color .2s linear;
}

a:hover {
    text-decoration: none;
}

.container #header{
	padding-bottom: 30px;
}
.container #logo {
	padding-top: 110px;
	font-size: 39px;
	color: black;
	text-align: center;
}

.container #logo #qing{
	color: #CCC;
}

.container #main {
    font-size: 16px;
	line-height: 23px;
	min-height: 400px;
}

.container #category {
	padding-top: 80px;
	padding-right: 30px;
	text-align: center;
}

.container li {
    display: inline;
    margin: 0 7px;
}

.container #projects li {
	display: list-item;
	margin-left: 3.5%;
	margin-right: 3.5%;
	margin-bottom: 1.75em;
	clear: none;
}

.container #projects .project-description {
	font-size: 14px;
}
.container #category1 a {
	color: #383838;
}

.container #social {
	padding-top: 50px;
	padding-right: 30px;
	text-align: center;
}

.container #foot-text {
	text-align: center;
}

.container .path {
    font-size: 16px;
    color: #CCC;
}

.container .pic-link {
    border-bottom: none;
}

.container .pic-next-text {
    padding-right: 10px;
}

ul.albumn-cover {
	overflow: hidden;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

ul.albumn-cover {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

@media only screen and (min-width: 768px)
ul.albumn-cover li:nth-child(3n+1) {
	clear: left;
}

ul.albumn-cover li {
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 1.75em;
	float: left;
	display: inline;
	width: 28.33%;
	clear: none;
}

ul.albumn-cover p.thumb {
	float: none;
	width: auto;
	margin-right: 0;
	margin-top: 0;
	margin-left: 0;
}

ul.albumn-cover li p.thumb img {
	padding: 0.625em;
	background: white;
	border: 1px solid #E5E5E5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	border-radius: 0.25em;
}