body, p {
	font-family: "Open Sans", sans-serif;
}

a {
	color: #999;
    text-decoration: none;
    border-bottom: 1px dotted;
    outline: 0;
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    transition: color .2s linear;
}

a:hover {
    text-decoration: none;
}

.container #logo {
	padding-top: 110px;
	font-size: 39px;
	color: black;
	text-align: center;
}

.container #logo #qing{
	color: #CCC;
}

.container #main {
    font-size: 16px;
	line-height: 23px;
}

.container #category {
	padding-top: 80px;
	padding-right: 30px;
	text-align: center;
}

.container li {
    display: inline;
    margin: 0 7px;
}

.container #category1 a {
	color: #383838;
}

.container #social {
	padding-top: 50px;
	padding-right: 30px;
	text-align: center;
}

.container #foot-text {
	text-align: center;
	padding-top: 250px;
}

.container .path {
    font-size: 16px;
    color: #CCC;
}

.container .pic-link {
    border-bottom: none;
}

.container .pic-next-text {
    padding-right: 10px;
}