<?xml version="1.0" ?><juiceboxgallery galleryTitle="Venezia, Italy">
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_8971.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_8971.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8971.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_8971.jpg">
    <title><![CDATA[IMG_8971]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_8975.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_8975.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8975.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_8975.jpg">
    <title><![CDATA[IMG_8975]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_8979.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_8979.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8979.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_8979.jpg">
    <title><![CDATA[IMG_8979]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_8983.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_8983.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8983.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_8983.jpg">
    <title><![CDATA[IMG_8983]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_8985.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_8985.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8985.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_8985.jpg">
    <title><![CDATA[IMG_8985]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_8989.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_8989.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8989.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_8989.jpg">
    <title><![CDATA[IMG_8989]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_8993.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_8993.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8993.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_8993.jpg">
    <title><![CDATA[IMG_8993]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9000.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9000.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_9000.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_9000.jpg">
    <title><![CDATA[IMG_9000]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9013.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9013.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_9013.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_9013.jpg">
    <title><![CDATA[IMG_9013]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9017.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9017.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_9017.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_9017.jpg">
    <title><![CDATA[IMG_9017]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9029.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9029.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_9029.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_9029.jpg">
    <title><![CDATA[IMG_9029]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9071.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9071.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_9071.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_9071.jpg">
    <title><![CDATA[IMG_9071]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9076.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9076.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_9076.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_9076.jpg">
    <title><![CDATA[IMG_9076]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9097.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9097.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_9097.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_9097.jpg">
    <title><![CDATA[IMG_9097]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9107.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9107.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_9107.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_9107.jpg">
    <title><![CDATA[IMG_9107]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9114.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9114.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_9114.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_9114.jpg">
    <title><![CDATA[IMG_9114]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9116.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9116.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_9116.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_9116.jpg">
    <title><![CDATA[IMG_9116]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9117.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9117.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_9117.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_9117.jpg">
    <title><![CDATA[IMG_9117]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9119.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9119.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_9119.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_9119.jpg">
    <title><![CDATA[IMG_9119]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9123.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9123.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_9123.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_9123.jpg">
    <title><![CDATA[IMG_9123]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9135.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9135.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_9135.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_9135.jpg">
    <title><![CDATA[IMG_9135]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9151.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9151.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_9151.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_9151.jpg">
    <title><![CDATA[IMG_9151]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9152.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9152.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_9152.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_9152.jpg">
    <title><![CDATA[IMG_9152]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9172.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9172.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_9172.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_9172.jpg">
    <title><![CDATA[IMG_9172]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9201.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9201.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_9201.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_9201.jpg">
    <title><![CDATA[IMG_9201]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9232.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9232.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_9232.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_9232.jpg">
    <title><![CDATA[IMG_9232]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9247.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9247.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_9247.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_9247.jpg">
    <title><![CDATA[IMG_9247]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9252.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9252.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_9252.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_9252.jpg">
    <title><![CDATA[IMG_9252]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9268.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9268.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_9268.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_9268.jpg">
    <title><![CDATA[IMG_9268]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9275.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/images/img_9275.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_9275.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-venezia-italy/thumbs/img_9275.jpg">
    <title><![CDATA[IMG_9275]]></title>
    <caption/>
  </image>
</juiceboxgallery>