<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	resizeOnImport="false"
	galleryTitle="2013-05-tokyo-japan"
	useThumbDots="false"
	useFullscreenExpand="false"

>
  <image imageURL="images/IMG_8085.jpg"
	thumbURL="thumbs/IMG_8085.jpg"
	linkURL="images/IMG_8085.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8085.jpg">
    <title><![CDATA[IMG_8085]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8089.jpg"
	thumbURL="thumbs/IMG_8089.jpg"
	linkURL="images/IMG_8089.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8089.jpg">
    <title><![CDATA[IMG_8089]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8101.jpg"
	thumbURL="thumbs/IMG_8101.jpg"
	linkURL="images/IMG_8101.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8101.jpg">
    <title><![CDATA[IMG_8101]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8106.jpg"
	thumbURL="thumbs/IMG_8106.jpg"
	linkURL="images/IMG_8106.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8106.jpg">
    <title><![CDATA[IMG_8106]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8110.jpg"
	thumbURL="thumbs/IMG_8110.jpg"
	linkURL="images/IMG_8110.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8110.jpg">
    <title><![CDATA[IMG_8110]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8112.jpg"
	thumbURL="thumbs/IMG_8112.jpg"
	linkURL="images/IMG_8112.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8112.jpg">
    <title><![CDATA[IMG_8112]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8121.jpg"
	thumbURL="thumbs/IMG_8121.jpg"
	linkURL="images/IMG_8121.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8121.jpg">
    <title><![CDATA[IMG_8121]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8130.jpg"
	thumbURL="thumbs/IMG_8130.jpg"
	linkURL="images/IMG_8130.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8130.jpg">
    <title><![CDATA[IMG_8130]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8138.jpg"
	thumbURL="thumbs/IMG_8138.jpg"
	linkURL="images/IMG_8138.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8138.jpg">
    <title><![CDATA[IMG_8138]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8141.jpg"
	thumbURL="thumbs/IMG_8141.jpg"
	linkURL="images/IMG_8141.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8141.jpg">
    <title><![CDATA[IMG_8141]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8142.jpg"
	thumbURL="thumbs/IMG_8142.jpg"
	linkURL="images/IMG_8142.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8142.jpg">
    <title><![CDATA[IMG_8142]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8144.jpg"
	thumbURL="thumbs/IMG_8144.jpg"
	linkURL="images/IMG_8144.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8144.jpg">
    <title><![CDATA[IMG_8144]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8146.jpg"
	thumbURL="thumbs/IMG_8146.jpg"
	linkURL="images/IMG_8146.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8146.jpg">
    <title><![CDATA[IMG_8146]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8149.jpg"
	thumbURL="thumbs/IMG_8149.jpg"
	linkURL="images/IMG_8149.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8149.jpg">
    <title><![CDATA[IMG_8149]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8152.jpg"
	thumbURL="thumbs/IMG_8152.jpg"
	linkURL="images/IMG_8152.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8152.jpg">
    <title><![CDATA[IMG_8152]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8166.jpg"
	thumbURL="thumbs/IMG_8166.jpg"
	linkURL="images/IMG_8166.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8166.jpg">
    <title><![CDATA[IMG_8166]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8172.jpg"
	thumbURL="thumbs/IMG_8172.jpg"
	linkURL="images/IMG_8172.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8172.jpg">
    <title><![CDATA[IMG_8172]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8183.jpg"
	thumbURL="thumbs/IMG_8183.jpg"
	linkURL="images/IMG_8183.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8183.jpg">
    <title><![CDATA[IMG_8183]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8185.jpg"
	thumbURL="thumbs/IMG_8185.jpg"
	linkURL="images/IMG_8185.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8185.jpg">
    <title><![CDATA[IMG_8185]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8197.jpg"
	thumbURL="thumbs/IMG_8197.jpg"
	linkURL="images/IMG_8197.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8197.jpg">
    <title><![CDATA[IMG_8197]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8200.jpg"
	thumbURL="thumbs/IMG_8200.jpg"
	linkURL="images/IMG_8200.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8200.jpg">
    <title><![CDATA[IMG_8200]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8204.jpg"
	thumbURL="thumbs/IMG_8204.jpg"
	linkURL="images/IMG_8204.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8204.jpg">
    <title><![CDATA[IMG_8204]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8205.jpg"
	thumbURL="thumbs/IMG_8205.jpg"
	linkURL="images/IMG_8205.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8205.jpg">
    <title><![CDATA[IMG_8205]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8212.jpg"
	thumbURL="thumbs/IMG_8212.jpg"
	linkURL="images/IMG_8212.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8212.jpg">
    <title><![CDATA[IMG_8212]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8215.jpg"
	thumbURL="thumbs/IMG_8215.jpg"
	linkURL="images/IMG_8215.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8215.jpg">
    <title><![CDATA[IMG_8215]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8216.jpg"
	thumbURL="thumbs/IMG_8216.jpg"
	linkURL="images/IMG_8216.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8216.jpg">
    <title><![CDATA[IMG_8216]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8220.jpg"
	thumbURL="thumbs/IMG_8220.jpg"
	linkURL="images/IMG_8220.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8220.jpg">
    <title><![CDATA[IMG_8220]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8224.jpg"
	thumbURL="thumbs/IMG_8224.jpg"
	linkURL="images/IMG_8224.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8224.jpg">
    <title><![CDATA[IMG_8224]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8234.jpg"
	thumbURL="thumbs/IMG_8234.jpg"
	linkURL="images/IMG_8234.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8234.jpg">
    <title><![CDATA[IMG_8234]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8242.jpg"
	thumbURL="thumbs/IMG_8242.jpg"
	linkURL="images/IMG_8242.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8242.jpg">
    <title><![CDATA[IMG_8242]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8245.jpg"
	thumbURL="thumbs/IMG_8245.jpg"
	linkURL="images/IMG_8245.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8245.jpg">
    <title><![CDATA[IMG_8245]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8246.jpg"
	thumbURL="thumbs/IMG_8246.jpg"
	linkURL="images/IMG_8246.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8246.jpg">
    <title><![CDATA[IMG_8246]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8248.jpg"
	thumbURL="thumbs/IMG_8248.jpg"
	linkURL="images/IMG_8248.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8248.jpg">
    <title><![CDATA[IMG_8248]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8252.jpg"
	thumbURL="thumbs/IMG_8252.jpg"
	linkURL="images/IMG_8252.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8252.jpg">
    <title><![CDATA[IMG_8252]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8255.jpg"
	thumbURL="thumbs/IMG_8255.jpg"
	linkURL="images/IMG_8255.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8255.jpg">
    <title><![CDATA[IMG_8255]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8260.jpg"
	thumbURL="thumbs/IMG_8260.jpg"
	linkURL="images/IMG_8260.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8260.jpg">
    <title><![CDATA[IMG_8260]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8268.jpg"
	thumbURL="thumbs/IMG_8268.jpg"
	linkURL="images/IMG_8268.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8268.jpg">
    <title><![CDATA[IMG_8268]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8269.jpg"
	thumbURL="thumbs/IMG_8269.jpg"
	linkURL="images/IMG_8269.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8269.jpg">
    <title><![CDATA[IMG_8269]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8270.jpg"
	thumbURL="thumbs/IMG_8270.jpg"
	linkURL="images/IMG_8270.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8270.jpg">
    <title><![CDATA[IMG_8270]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8275.jpg"
	thumbURL="thumbs/IMG_8275.jpg"
	linkURL="images/IMG_8275.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8275.jpg">
    <title><![CDATA[IMG_8275]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8278.jpg"
	thumbURL="thumbs/IMG_8278.jpg"
	linkURL="images/IMG_8278.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8278.jpg">
    <title><![CDATA[IMG_8278]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8282.jpg"
	thumbURL="thumbs/IMG_8282.jpg"
	linkURL="images/IMG_8282.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8282.jpg">
    <title><![CDATA[IMG_8282]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8285.jpg"
	thumbURL="thumbs/IMG_8285.jpg"
	linkURL="images/IMG_8285.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8285.jpg">
    <title><![CDATA[IMG_8285]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8303.jpg"
	thumbURL="thumbs/IMG_8303.jpg"
	linkURL="images/IMG_8303.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8303.jpg">
    <title><![CDATA[IMG_8303]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8304.jpg"
	thumbURL="thumbs/IMG_8304.jpg"
	linkURL="images/IMG_8304.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8304.jpg">
    <title><![CDATA[IMG_8304]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8317.jpg"
	thumbURL="thumbs/IMG_8317.jpg"
	linkURL="images/IMG_8317.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8317.jpg">
    <title><![CDATA[IMG_8317]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8321.jpg"
	thumbURL="thumbs/IMG_8321.jpg"
	linkURL="images/IMG_8321.jpg"
	linkTarget="_blank"
	sourcePath="/Users/zyq524/Desktop/japan/IMG_8321.jpg">
    <title><![CDATA[IMG_8321]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>