<?xml version="1.0" ?><juiceboxgallery galleryTitle="Roma Italy" resizeOnImport="false">
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8411.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8411.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8411.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/thumbs/img_8411.jpg">
    <title><![CDATA[IMG_8411]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8418.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8418.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8418.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/thumbs/img_8418.jpg">
    <title><![CDATA[IMG_8418]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8433.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8433.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8433.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/thumbs/img_8433.jpg">
    <title><![CDATA[IMG_8433]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8449.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8449.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8449.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/thumbs/img_8449.jpg">
    <title><![CDATA[IMG_8449]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8461.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8461.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8461.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/thumbs/img_8461.jpg">
    <title><![CDATA[IMG_8461]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8467.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8467.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8467.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/thumbs/img_8467.jpg">
    <title><![CDATA[IMG_8467]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8468.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8468.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8468.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/thumbs/img_8468.jpg">
    <title><![CDATA[IMG_8468]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8492.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8492.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8492.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/thumbs/img_8492.jpg">
    <title><![CDATA[IMG_8492]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8501.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8501.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8501.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/thumbs/img_8501.jpg">
    <title><![CDATA[IMG_8501]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8514.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8514.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8514.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/thumbs/img_8514.jpg">
    <title><![CDATA[IMG_8514]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8544.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8544.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8544.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/thumbs/img_8544.jpg">
    <title><![CDATA[IMG_8544]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8551.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8551.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8551.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/thumbs/img_8551.jpg">
    <title><![CDATA[IMG_8551]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8573.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8573.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8573.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/thumbs/img_8573.jpg">
    <title><![CDATA[IMG_8573]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8602.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8602.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8602.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/thumbs/img_8602.jpg">
    <title><![CDATA[IMG_8602]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8625.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8625.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8625.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/thumbs/img_8625.jpg">
    <title><![CDATA[IMG_8625]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8636.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8636.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8636.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/thumbs/img_8636.jpg">
    <title><![CDATA[IMG_8636]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8647.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8647.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8647.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/thumbs/img_8647.jpg">
    <title><![CDATA[IMG_8647]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8653.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8653.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8653.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/thumbs/img_8653.jpg">
    <title><![CDATA[IMG_8653]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8672.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8672.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8672.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/thumbs/img_8672.jpg">
    <title><![CDATA[IMG_8672]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8673.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8673.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8673.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/thumbs/img_8673.jpg">
    <title><![CDATA[IMG_8673]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8676.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8676.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8676.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/thumbs/img_8676.jpg">
    <title><![CDATA[IMG_8676]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8685.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8685.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8685.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/thumbs/img_8685.jpg">
    <title><![CDATA[IMG_8685]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8689.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8689.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8689.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/thumbs/img_8689.jpg">
    <title><![CDATA[IMG_8689]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8701.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8701.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8701.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/thumbs/img_8701.jpg">
    <title><![CDATA[IMG_8701]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8710.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8710.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8710.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/thumbs/img_8710.jpg">
    <title><![CDATA[IMG_8710]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8716.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8716.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8716.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/thumbs/img_8716.jpg">
    <title><![CDATA[IMG_8716]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8721.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/images/img_8721.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8721.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-roma-italy/thumbs/img_8721.jpg">
    <title><![CDATA[IMG_8721]]></title>
    <caption/>
  </image>
</juiceboxgallery>