<?xml version="1.0" ?><juiceboxgallery cropToFit="false" resizeOnImport="true" useFlickr="false">
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7223.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7223.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/thumbs/img_7223.jpg">
    <title><![CDATA[IMG_7223]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7214.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7214.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/thumbs/img_7214.jpg">
    <title><![CDATA[IMG_7214]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7212.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7212.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/thumbs/img_7212.jpg">
    <title><![CDATA[IMG_7212]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7227.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7227.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/thumbs/img_7227.jpg">
    <title><![CDATA[IMG_7227]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7233.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7233.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/thumbs/img_7233.jpg">
    <title><![CDATA[IMG_7233]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7255.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7255.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/thumbs/img_7255.jpg">
    <title><![CDATA[IMG_7255]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7268.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7268.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/thumbs/img_7268.jpg">
    <title><![CDATA[IMG_7268]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7272.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7272.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/thumbs/img_7272.jpg">
    <title><![CDATA[IMG_7272]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7273.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7273.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/thumbs/img_7273.jpg">
    <title><![CDATA[IMG_7273]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7275.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7275.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/thumbs/img_7275.jpg">
    <title><![CDATA[IMG_7275]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7278.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7278.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/thumbs/img_7278.jpg">
    <title><![CDATA[IMG_7278]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7281.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7281.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/thumbs/img_7281.jpg">
    <title><![CDATA[IMG_7281]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7284.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7284.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/thumbs/img_7284.jpg">
    <title><![CDATA[IMG_7284]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7312.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7312.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/thumbs/img_7312.jpg">
    <title><![CDATA[IMG_7312]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7352.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7352.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/thumbs/img_7352.jpg">
    <title><![CDATA[IMG_7352]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7355.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7355.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/thumbs/img_7355.jpg">
    <title><![CDATA[IMG_7355]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7368.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7368.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/thumbs/img_7368.jpg">
    <title><![CDATA[IMG_7368]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7375.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7375.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/thumbs/img_7375.jpg">
    <title><![CDATA[IMG_7375]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7406.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7406.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/thumbs/img_7406.jpg">
    <title><![CDATA[IMG_7406]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7415.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7415.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/thumbs/img_7415.jpg">
    <title><![CDATA[IMG_7415]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7420.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/img_7420.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/thumbs/img_7420.jpg">
    <title><![CDATA[IMG_7420]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/my hipstaprint 1.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/my hipstaprint 1.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/thumbs/my hipstaprint 1.jpg">
    <title><![CDATA[My HipstaPrint 1]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/my hipstaprint 10.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/images/my hipstaprint 10.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2011-09-london-england/thumbs/my hipstaprint 10.jpg">
    <title><![CDATA[My HipstaPrint 10]]></title>
    <caption/>
  </image>
</juiceboxgallery>