<?xml version="1.0" ?><juiceboxgallery cropToFit="false" resizeOnImport="true" useFlickr="false">
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/images/img_7850.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/images/img_7850.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/thumbs/img_7850.jpg">
    <title><![CDATA[IMG_7850]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/images/img_7851.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/images/img_7851.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/thumbs/img_7851.jpg">
    <title><![CDATA[IMG_7851]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/images/img_7853.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/images/img_7853.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/thumbs/img_7853.jpg">
    <title><![CDATA[IMG_7853]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/images/img_7854.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/images/img_7854.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/thumbs/img_7854.jpg">
    <title><![CDATA[IMG_7854]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/images/img_7866.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/images/img_7866.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/thumbs/img_7866.jpg">
    <title><![CDATA[IMG_7866]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/images/img_7877.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/images/img_7877.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/thumbs/img_7877.jpg">
    <title><![CDATA[IMG_7877]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/images/img_7908.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/images/img_7908.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/thumbs/img_7908.jpg">
    <title><![CDATA[IMG_7908]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/images/img_7909.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/images/img_7909.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/thumbs/img_7909.jpg">
    <title><![CDATA[IMG_7909]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/images/img_7916.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/images/img_7916.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/thumbs/img_7916.jpg">
    <title><![CDATA[IMG_7916]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/images/img_7917.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/images/img_7917.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/thumbs/img_7917.jpg">
    <title><![CDATA[IMG_7917]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/images/img_7945.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/images/img_7945.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/thumbs/img_7945.jpg">
    <title><![CDATA[IMG_7945]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/images/img_7950.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/images/img_7950.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/thumbs/img_7950.jpg">
    <title><![CDATA[IMG_7950]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/images/img_7956.jpg" linkTarget="_blank" linkURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/images/img_7956.jpg" thumbURL="http://zhangyuqinginfo.blob.core.windows.net/gallery/2012-09-kjerag-norway/thumbs/img_7956.jpg">
    <title><![CDATA[IMG_7956]]></title>
    <caption/>
  </image>
</juiceboxgallery>