<?xml version="1.0" ?><juiceboxgallery galleryTitle="Firenze, Italy">
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8729.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8729.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8729.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/thumbs/img_8729.jpg">
    <title><![CDATA[IMG_8729]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8731.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8731.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8731.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/thumbs/img_8731.jpg">
    <title><![CDATA[IMG_8731]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8738.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8738.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8738.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/thumbs/img_8738.jpg">
    <title><![CDATA[IMG_8738]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8773.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8773.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8773.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/thumbs/img_8773.jpg">
    <title><![CDATA[IMG_8773]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8775.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8775.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8775.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/thumbs/img_8775.jpg">
    <title><![CDATA[IMG_8775]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8779.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8779.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8779.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/thumbs/img_8779.jpg">
    <title><![CDATA[IMG_8779]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8783.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8783.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8783.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/thumbs/img_8783.jpg">
    <title><![CDATA[IMG_8783]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8788.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8788.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8788.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/thumbs/img_8788.jpg">
    <title><![CDATA[IMG_8788]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8806.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8806.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8806.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/thumbs/img_8806.jpg">
    <title><![CDATA[IMG_8806]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8813.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8813.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8813.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/thumbs/img_8813.jpg">
    <title><![CDATA[IMG_8813]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8846.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8846.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8846.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/thumbs/img_8846.jpg">
    <title><![CDATA[IMG_8846]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8850.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8850.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8850.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/thumbs/img_8850.jpg">
    <title><![CDATA[IMG_8850]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8887.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8887.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8887.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/thumbs/img_8887.jpg">
    <title><![CDATA[IMG_8887]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8904.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8904.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8904.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/thumbs/img_8904.jpg">
    <title><![CDATA[IMG_8904]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8913.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8913.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8913.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/thumbs/img_8913.jpg">
    <title><![CDATA[IMG_8913]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8940.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8940.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8940.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/thumbs/img_8940.jpg">
    <title><![CDATA[IMG_8940]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8946.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8946.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8946.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/thumbs/img_8946.jpg">
    <title><![CDATA[IMG_8946]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8951.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8951.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8951.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/thumbs/img_8951.jpg">
    <title><![CDATA[IMG_8951]]></title>
    <caption/>
  </image>
  <image imageURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8965.jpg" linkTarget="_blank" linkURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/images/img_8965.jpg" sourcePath="/Users/zyq524/Desktop/untitled folder/IMG_8965.jpg" thumbURL="http://zhangyuqinglabs.blob.core.windows.net/gallery/2013-06-firenze-italy/thumbs/img_8965.jpg">
    <title><![CDATA[IMG_8965]]></title>
    <caption/>
  </image>
</juiceboxgallery>