<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	useFlickr="false"
	resizeOnImport="true"
	cropToFit="false"
	galleryTitle="Highlands, Scotland"
	indexPageName="2011-09-highlands-scotland.html"

>
  <image imageURL="images/IMG_6871.jpg"
	thumbURL="thumbs/IMG_6871.jpg"
	linkURL="images/IMG_6871.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6871]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6875.jpg"
	thumbURL="thumbs/IMG_6875.jpg"
	linkURL="images/IMG_6875.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6875]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6876.jpg"
	thumbURL="thumbs/IMG_6876.jpg"
	linkURL="images/IMG_6876.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6876]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6879.jpg"
	thumbURL="thumbs/IMG_6879.jpg"
	linkURL="images/IMG_6879.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6879]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6882.jpg"
	thumbURL="thumbs/IMG_6882.jpg"
	linkURL="images/IMG_6882.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6882]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6883.jpg"
	thumbURL="thumbs/IMG_6883.jpg"
	linkURL="images/IMG_6883.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6883]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6888.jpg"
	thumbURL="thumbs/IMG_6888.jpg"
	linkURL="images/IMG_6888.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6888]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6889.jpg"
	thumbURL="thumbs/IMG_6889.jpg"
	linkURL="images/IMG_6889.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6889]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6897.jpg"
	thumbURL="thumbs/IMG_6897.jpg"
	linkURL="images/IMG_6897.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6897]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6908.jpg"
	thumbURL="thumbs/IMG_6908.jpg"
	linkURL="images/IMG_6908.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6908]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6910.jpg"
	thumbURL="thumbs/IMG_6910.jpg"
	linkURL="images/IMG_6910.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6910]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6913.jpg"
	thumbURL="thumbs/IMG_6913.jpg"
	linkURL="images/IMG_6913.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6913]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6917.jpg"
	thumbURL="thumbs/IMG_6917.jpg"
	linkURL="images/IMG_6917.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6917]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6921.jpg"
	thumbURL="thumbs/IMG_6921.jpg"
	linkURL="images/IMG_6921.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6921]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6930.jpg"
	thumbURL="thumbs/IMG_6930.jpg"
	linkURL="images/IMG_6930.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6930]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6936.jpg"
	thumbURL="thumbs/IMG_6936.jpg"
	linkURL="images/IMG_6936.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6936]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6941.jpg"
	thumbURL="thumbs/IMG_6941.jpg"
	linkURL="images/IMG_6941.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6941]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6947.jpg"
	thumbURL="thumbs/IMG_6947.jpg"
	linkURL="images/IMG_6947.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6947]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6949.jpg"
	thumbURL="thumbs/IMG_6949.jpg"
	linkURL="images/IMG_6949.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6949]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6952.jpg"
	thumbURL="thumbs/IMG_6952.jpg"
	linkURL="images/IMG_6952.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6952]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6953.jpg"
	thumbURL="thumbs/IMG_6953.jpg"
	linkURL="images/IMG_6953.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6953]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6956.jpg"
	thumbURL="thumbs/IMG_6956.jpg"
	linkURL="images/IMG_6956.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6956]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6958.jpg"
	thumbURL="thumbs/IMG_6958.jpg"
	linkURL="images/IMG_6958.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6958]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6964.jpg"
	thumbURL="thumbs/IMG_6964.jpg"
	linkURL="images/IMG_6964.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6964]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6974.jpg"
	thumbURL="thumbs/IMG_6974.jpg"
	linkURL="images/IMG_6974.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6974]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6985.jpg"
	thumbURL="thumbs/IMG_6985.jpg"
	linkURL="images/IMG_6985.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6985]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6986.jpg"
	thumbURL="thumbs/IMG_6986.jpg"
	linkURL="images/IMG_6986.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6986]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6987.jpg"
	thumbURL="thumbs/IMG_6987.jpg"
	linkURL="images/IMG_6987.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6987]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6991.jpg"
	thumbURL="thumbs/IMG_6991.jpg"
	linkURL="images/IMG_6991.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6991]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6992.jpg"
	thumbURL="thumbs/IMG_6992.jpg"
	linkURL="images/IMG_6992.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6992]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6996.jpg"
	thumbURL="thumbs/IMG_6996.jpg"
	linkURL="images/IMG_6996.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_6996]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7008.jpg"
	thumbURL="thumbs/IMG_7008.jpg"
	linkURL="images/IMG_7008.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7008]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7020.jpg"
	thumbURL="thumbs/IMG_7020.jpg"
	linkURL="images/IMG_7020.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7020]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7026.jpg"
	thumbURL="thumbs/IMG_7026.jpg"
	linkURL="images/IMG_7026.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7026]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7042.jpg"
	thumbURL="thumbs/IMG_7042.jpg"
	linkURL="images/IMG_7042.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7042]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7045.jpg"
	thumbURL="thumbs/IMG_7045.jpg"
	linkURL="images/IMG_7045.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7045]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7049.jpg"
	thumbURL="thumbs/IMG_7049.jpg"
	linkURL="images/IMG_7049.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7049]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7050.jpg"
	thumbURL="thumbs/IMG_7050.jpg"
	linkURL="images/IMG_7050.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7050]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7069.jpg"
	thumbURL="thumbs/IMG_7069.jpg"
	linkURL="images/IMG_7069.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7069]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7083.jpg"
	thumbURL="thumbs/IMG_7083.jpg"
	linkURL="images/IMG_7083.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7083]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7109.jpg"
	thumbURL="thumbs/IMG_7109.jpg"
	linkURL="images/IMG_7109.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7109]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7120.jpg"
	thumbURL="thumbs/IMG_7120.jpg"
	linkURL="images/IMG_7120.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7120]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7135.jpg"
	thumbURL="thumbs/IMG_7135.jpg"
	linkURL="images/IMG_7135.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7135]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7156.jpg"
	thumbURL="thumbs/IMG_7156.jpg"
	linkURL="images/IMG_7156.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7156]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7178.jpg"
	thumbURL="thumbs/IMG_7178.jpg"
	linkURL="images/IMG_7178.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7178]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7181.jpg"
	thumbURL="thumbs/IMG_7181.jpg"
	linkURL="images/IMG_7181.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7181]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7149.jpg"
	thumbURL="thumbs/IMG_7149.jpg"
	linkURL="images/IMG_7149.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7149]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7183.jpg"
	thumbURL="thumbs/IMG_7183.jpg"
	linkURL="images/IMG_7183.jpg"
	linkTarget="_blank">
    <title><![CDATA[IMG_7183]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>