@using Articulate
@model Articulate.Models.IMasterModel
<aside class="widget">
    <h3 class="widget-title">
        Follow this blog&nbsp;&nbsp;
        <a href="#">
            <i class="fa fa-rss"></i>
        </a>
    </h3>

</aside>

